@mixin flexAlign($hor: center, $vert: center, $pos: row) {
    display: flex;
    align-items: $vert;
    justify-content: $hor;
    flex-direction: $pos;
}

@import url('https://fonts.googleapis.com/css?family=Oswald:300,500&display=swap&subset=cyrillic');
body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

.wrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(black, .7);
    @include flexAlign();
    &__modal {
        @include flexAlign($pos: column);
        background: white;
        padding: 40px 20px;
        width: 35%;
        min-width: 320px;
        .modal__field {
            width: 100%;
            @include flexAlign(flex-start,
            flex-start,
            column);
            margin-bottom: 20px;
            &:nth-child(4) {
                display: none;
            }
            &-name {
                font-style: italic;
                font-size: 15px;
                color: gray;
            }
            &-input {
                outline: none;
                width: 100%;
                height: 20px;
                border: 1px solid gray;
                border-radius: 3px;
                padding-left: 7px;
                font-size: 18px;
            }
        }
        .modal__buttons {
            width: 100%;
            @include flexAlign(space-between);
            height: 40px;
            .actions {
                @include flexAlign;
                height: 100%;
                &__button {
                    padding: 0 20px;
                    margin-right: 15px;
                    cursor: pointer;
                    height: 100%;
                    background-color: lightblue;
                    @include flexAlign;
                    border-bottom: 2px solid transparent;
                    user-select: none;
                    &_active {
                        border-bottom: 2px solid red;
                    }
                }
            }
            .modal__button {
                width: 80px;
                height: 100%;
                @include flexAlign;
                background-color: coral;
                cursor: pointer;
                font-size: 18px;
                border: 2px solid gray;
                box-sizing: border-box;
                transition: .3s;
                box-shadow: 0 0 7px 0 black;
                &:hover {
                    box-shadow: 0 0 0 0 transparent;
                }
            }
        }
    }
}

.header {
    width: 100%;
    height: 60px;
    padding: 0 40px;
    box-sizing: border-box;
    @include flexAlign(space-between);
    background: lightblue;
    &__logo {
        width: 150px;
    }
    &__user {
        height: 100%;
        @include flexAlign;
        text-decoration: none;
        color: blue;
        &:active {
            color: blue;
        }
        &-img {
            height: 90%;
            margin-right: 10px;
        }
    }
}

.content {
    width: 100%;
    height: calc(100vh - 60px);
    @include flexAlign(space-around);
    padding: 20px 40px;
    box-sizing: border-box;
    .products {
        width: 60%;
        border: 1px solid black;
        margin-right: 10px;
        height: 100%;
        overflow: hidden;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 10px;
        box-sizing: border-box;
    }
    .edit {
        width: 40%;
        border: 1px solid black;
        height: 100%;
        @include flexAlign($hor: flex-start, $pos: column);
        padding: 20px;
        box-sizing: border-box;
        &__image {
            height: 300px;
            width: 300px;
            border: 1px solid blue;
            margin-bottom: 30px;
            &-img {
                width: 100%;
                height: 100%;
            }
            &-inp {
                display: none;
            }
        }
        &__field {
            width: 80%;
            height: 40px;
            @include flexAlign(space-between);
            margin-bottom: 15px;
            border-bottom: 2px solid gray;
            &_big {
                @include flexAlign($vert: flex-start, $pos: column);
                height: 200px;
            }
            &-inp {
                width: 70%;
                height: 30px;
                outline: none;
            }
            &-desc {
                height: 80%;
                width: 100%;
                outline: none;
            }
        }
    }
}

.card {
    border: 1px solid black;
    width: 100%;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    @include flexAlign(space-between);
    margin-bottom: 10px;
    &:last-child {
        margin-bottom: 0;
    }
    &__photo {
        width: 80px;
        height: 80px;
    }
    &__info {
        width: 70%;
        @include flexAlign(flex-start,
        flex-start,
        column);
        &-data {
            @include flexAlign(space-between);
            width: 100%;
            height: 25px;
            &-name {
                width: 70%;
                overflow: hidden;
                text-overflow: ellipsis; // добавление троеточия
                white-space: nowrap; // запрет на перенос строки
                font-size: 20px;
            }
            &-price {
                font-weight: bold;
                color: red;
                font-size: 18px;
            }
        }
        &-description {
            font-style: italic;
            width: 100%;
            height: 65px;
            overflow: hidden;
        }
    }
    &__edit {
        height: 100%;
        @include flexAlign(space-around,
        $pos: column);
        &-item {
            height: 100%;
            width: 100%;
        }
    }
}